.page {
  &Title {
    color: #5f787b;
    margin-top: 0;
  }

  &Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 400px;

    &Input {
      background: #fff;
      border: 1px solid transparent;
      color: #5f787b;
      margin-bottom: 20px;
      outline: none;
      padding: 10px;
      width: 100%;

      &:focus {
        border: 1px solid #eab354;
      }
    }

    &AddStar {
      margin-bottom: 30px;
      text-align: left;
      width: 100%;

      button {
        background: #5f787b;
        border: 1px solid transparent;
        border-color: transparent;
        color: #fff;
        cursor: pointer;
        justify-self: end;
        outline: none;
        padding: 12px 34px;

        &:hover {
          background: #eab354;
        }
      }
    }

    &InputArrayContainer {
      display: flex;
      position: relative;
      width: 100%;

      button {
        background: red;
        color: #fff;
        cursor: pointer;
        margin-left: 12px;
        width: 70px;

        &:hover {
          background: #eab354;
        }
      }
    }

    &Submit {
      background: #eab354;
      border: 1px solid #eab200;
      border: 1px solid transparent;
      border-color: transparent;
      color: #fff;
      cursor: pointer;
      justify-self: end;
      outline: none;
      padding: 12px 34px;
    }

    &:focus {
      border: 1px solid #eab200;
      outline: none;
    }
  }
}
